<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Contract Line</title>

</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<h1 th:text="${contractLine.id == null ? 'Adaugă linie contract' : 'Editează linie contract'}"></h1>

<form th:object="${contractLine}"
      th:action="${contractLine.id == null}
                 ? @{'/contract-lines'}
                 : @{'/contract-lines/' + ${contractLine.id} + '/edit'}"
      method="post">


    <!-- Contract -->
    <label>Contract:</label>
    <select th:field="*{contract}">
        <option value="">-- Selectează --</option>
        <option th:each="c : ${contracts}"
                th:value="${c.id}"
                th:text="${c.name}">
        </option>
    </select>
    <br><br>

    <!-- Item -->
    <label>Produs / Serviciu:</label>
    <select th:field="*{item}">
        <option value="">-- Selectează --</option>
        <option th:each="i : ${items}"
                th:value="${i.id}"
                th:text="${i.name}">
        </option>
    </select>
    <br><br>

    <!-- Unit -->
    <label>Unitate:</label>
    <select th:field="*{unit}">
        <option value="">-- Selectează --</option>
        <option th:each="u : ${units}"
                th:value="${u.id}"
                th:text="${u.name}">
        </option>
    </select>
    <br><br>

    <!-- Quantity -->
    <label>Cantitate:</label>
    <input type="number" min="1" step="0.01" th:field="*{quantity}">
    <br><br>

    <button type="submit">Salvează</button>

</form>

<br>
<a th:href="@{/contract-lines}">Înapoi la listă</a>

</body>
</html>

