<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adaugă linie de contract</title>
</head>
<body>
<h1>Adaugă linie de contract</h1>

<form th:action="@{/contractlines}" th:object="${contractline}" method="post">
    <label for="id">ID:</label>
    <input type="text" id="id" th:field="*{id}" required><br>

    <label for="item">Produs/Serviciu:</label>
    <input type="text" id="item" th:field="*{item}" required><br>

    <label for="unit">Unitate de măsură:</label>
    <select id="unit" th:field="*{unit}" required>
        <option th:each="u : ${units}" th:value="${u}" th:text="${u.name}"></option>
    </select><br>


    <label for="quantity">Cantitate:</label>
    <input type="number" step="0.01" id="quantity" th:field="*{quantity}" required><br>

    <button type="submit">Salvează</button>
</form>

<a th:href="@{/contractlines}">Înapoi la listă</a>

</body>
</html>

