<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalii Serviciu</title>
</head>
<body>

<h1>Detalii Serviciu</h1>

<table border="1" cellpadding="6" cellspacing="0">
    <tr>
        <th>ID</th>
        <td th:text="${serviceEntity.id}"></td>
    </tr>
    <tr>
        <th>Nume</th>
        <td th:text="${serviceEntity.name}"></td>
    </tr>
    <tr>
        <th>Status</th>
        <td>
            <span th:text="${serviceEntity.status}"
                  th:style="${serviceEntity.status.name() == 'ACTIVE'}
                            ? 'color: green; font-weight: bold;'
                            : 'color: red; font-weight: bold;'">
            </span>
        </td>
    </tr>
</table>

<br>

<a th:href="@{/services}">⬅ Înapoi la listă</a>
&nbsp;|&nbsp;
<a th:href="@{'/services/' + ${serviceEntity.id} + '/edit'}">✏️ Editează</a>

</body>
</html>
