<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalii Comandă</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<h1>Detalii Comandă</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <td th:text="${order.id}"></td>
    </tr>

    <tr>
        <th>Nume</th>
        <td th:text="${order.name}"></td>
    </tr>

    <tr>
        <th>Data comenzii</th>
        <td th:text="${order.orderDate}"></td>
    </tr>

    <tr>
        <th>Livrat</th>
        <td th:text="${order.delivered ? 'Da' : 'Nu'}"></td>
    </tr>

    <tr>
        <th>Client</th>
        <td th:text="${order.customer.name}"></td>
    </tr>

    <tr>
        <th>Email client</th>
        <td th:text="${order.customer.email}"></td>
    </tr>

    <tr>
        <th>Contract</th>
        <td th:text="${order.contract.name}"></td>
    </tr>
</table>

<br>

<a th:href="@{/orders}">Înapoi la listă</a>
&nbsp;|&nbsp;
<a th:href="@{'/orders/' + ${order.id} + '/edit'}">Editează</a>

</body>
</html>
