<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista articole vandabile</title>
</head>
<body>
<h1>Articole vandabile</h1>

<a th:href="@{/sellableitems/new}">Adaugă articol nou</a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nume</th>
        <th>Acțiuni</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item : ${sellableitems}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td>
            <form th:action="@{'/sellableitems/' + ${item.id} + '/delete'}" method="post">
                <button type="submit">Șterge</button>
            </form>
            <a th:href="@{'/sellableitems/' + ${item.id} + '/edit'}">Editează</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
