<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Units of Measure</title>
</head>
<body>

<h1>Unități de măsură</h1>

<a th:href="@{/units/new}">Adaugă unitate nouă</a>
<br><br>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nume</th>
        <th>Simbol</th>
        <th>Acțiuni</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="u : ${units}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.name}"></td>
        <td th:text="${u.symbol}"></td>

        <td>
            <a th:href="@{'/units/' + ${u.id} + '/edit'}">Editează</a>
            |
            <form th:action="@{'/units/' + ${u.id} + '/delete'}"
                  method="post" style="display:inline;">
                <button type="submit">Șterge</button>
            </form>
        </td>
    </tr>
    </tbody>

</table>

</body>
</html>
