<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contract Types</title>
</head>
<body>

<h1>Tipuri de contract</h1>

<a th:href="@{/contract-types/new}">Adaugă tip nou</a>
<br><br>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nume Tip</th>
        <th>Număr Contracte</th>
        <th>Acțiuni</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="t : ${types}">
        <td th:text="${t.id}"></td>
        <td th:text="${t.name}"></td>
        <td th:text="${t.contracts.size()}"></td>

        <td>
            <a th:href="@{'/contract-types/' + ${t.id} + '/edit'}">Editează</a>
            |
            <form th:action="@{'/contract-types/' + ${t.id} + '/delete'}"
                  method="post" style="display:inline;">
                <button type="submit">Șterge</button>
            </form>
        </td>
    </tr>
    </tbody>

</table>

</body>
</html>
