<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalii Contract</title>
</head>
<body>

<h1>Detalii contract</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <td th:text="${contract.id}"></td>
    </tr>

    <tr>
        <th>Nume contract</th>
        <td th:text="${contract.name}"></td>
    </tr>

    <tr>
        <th>Tip contract</th>
        <td th:text="${contract.contractTypeID}"></td>
    </tr>

    <tr>
        <th>Status</th>
        <td th:text="${contract.status}"></td>
    </tr>
</table>

<br>

<a th:href="@{/contracts}">Înapoi la listă</a>
&nbsp;|&nbsp;
<a th:href="@{'/contracts/' + ${contract.id} + '/edit'}">Editează</a>

<form th:action="@{'/contracts/' + ${contract.id} + '/delete'}"
      method="post" style="display:inline;">
    <button type="submit">Șterge</button>
</form>

</body>
</html>
