<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalii Linie Comandă</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<h1>Detalii Linie Comandă</h1>

<table border="1" cellpadding="6" cellspacing="0" style="border-collapse: collapse;">
    <tr>
        <th>ID</th>
        <td th:text="${orderLine.id}"></td>
    </tr>

    <tr>
        <th>Comandă</th>
        <td th:text="${orderLine.order.name}"></td>
    </tr>

    <tr>
        <th>Produs / Item</th>
        <td th:text="${orderLine.item.name}"></td>
    </tr>

    <tr>
        <th>Unitate</th>
        <td th:text="${orderLine.unit.name}"></td>
    </tr>

    <tr>
        <th>Cantitate</th>
        <td th:text="${orderLine.quantity}"></td>
    </tr>

    <tr>
        <th>Livrat</th>
        <td th:text="${orderLine.order.delivered ? 'Da' : 'Nu'}"></td>
    </tr>
</table>

<br>

<a th:href="@{/order-lines}">⬅ Înapoi la listă</a>
&nbsp;|&nbsp;
<a th:href="@{'/order-lines/' + ${orderLine.id} + '/edit'}">✏️ Editează</a>

<form th:action="@{'/order-lines/' + ${orderLine.id} + '/delete'}"
      method="post"
      style="display:inline;">
    <button type="submit"
            onclick="return confirm('Ești sigur că vrei să ștergi această linie?');">
        🗑 Șterge
    </button>
</form>

</body>
</html>
