<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Unit of Measure</title>
</head>
<body>
<h1>Add Unit of Measure</h1>

<form th:action="@{/units-view}" th:object="${unit}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" th:field="*{name}" id="name" />
    </div>
    <div>
        <label for="abbreviation">Abbreviation:</label>
        <input type="text" th:field="*{abbreviation}" id="abbreviation" />
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>

<a th:href="@{/units-view}">Back to list</a>
</body>
</html>
